body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: url('5172658.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
    color: white;
}

label {
    margin-bottom: 10px;
    display: block;
    color: white;
    font-size: 16px;
}

input, button {
    width: 97%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #dcdde1;
    border-radius: 8px;
    font-size: 16px;
}

input {
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#loginForm button {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#userTable, #filteredUserList {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#userTable th, #userTable td, #filteredUserList th, #filteredUserList td {
    padding: 10px;
    border: 1px solid #dcdde1;
    text-align: left;
}

.hidden {
    display: none;
}
